@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 103vw;
  height: 100px;
  max-height: 25vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}
.bannerimage {
  position: relative;
  width: 25vw;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.page_title_breakfast {
  margin-top: 20vw;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-family: lobster;
}

// ath. Þarf að laga flex-wrap þegar skjárinn er dreginn út þá fara neðstu myndirnar í miðjuna en ekki til vinstri.
// Recipe images with the text card and star button //FFC703 YELLOW
.container_breakfast {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: row;
  gap: 25px;


  .rounded-button{
      width: 40px;
      height: 40px;
      background: white;
      box-shadow: 2px 2px 10px #202020;
      color: #FFC703;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      text-decoration: none;
      transition: background 0.2s;
      
  }

  .rounded-button:hover{
      background: #FFF4CD;
  }


/*
  .starButton {                 //stjörnu takki
    position: absolute;
    top: 25px;
    left: 150px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
  }
 */
/*
  .starButton:hover .star-container {
      transform: translateX(-50%) translateY(-40px);
  */


  .star-container{
    position: absolute;
    top: 30px;
    left: 120px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s;
  }
 
  .cardImage, .cardImage1, .cardImage2{                  //mynda spjald
    transition: 0.5s;
    display: flex;
    margin-top: 40px;
    cursor: pointer;
    z-index: 1;
  }

  .cardImage1, .cardImage2{
      margin-bottom: 150px;
      transition: 0.5s;
  }

  .cardImage:hover, .cardImage1:hover, .cardImage2:hover {            //hover mynda spjald
    opacity: 0.5;
  }
  
  .text {                  //texta spjald
    position: absolute;
    top: 230px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: white;
    background-size: cover;  //
    max-width: 35ch;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 3px #aaaa;
  }
}
// ath. setja hover lit á add recipe button ?
.addButton {                //add recipe button
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 40px;
  margin-bottom: 120px;
  cursor: pointer;
  z-index: 3;
  transition: background 0.2s;
}
.addButton:hover{
  transform: scale(1.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  .home {
    height: auto;
  }
  .favorites {
    height: auto;
  }
  .shoppinglist {
    height: auto;
  }
  .community {
    height: auto;
  }
}
// making mobile content scale better on bigger screens
@media only screen and (min-width: 480px) {
  .banner {
    height: 12%;
  }
  .bannerimage {
    width: 130px;
  }
  .usernameicon {
    width: 30px;
    margin-right: 5%;
  }
}

//making mobile header and footer disappear on bigger screens
@media only screen and (min-width: 1100px) {
  #mobile-footer {
    display: none;
  }
  #mobile-banner {
    display: none;
  }
}

// making website header appear when screen gets bigger / disappear when smaller
@media only screen and (max-width: 1100px) {
  #website-banner {
    display: none;
  }
}
// ------- CSS for sidebar -------------
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #202020;
  padding: 6px 14px;
  z-index: 99;
}
@media only screen and (min-width: 1100px) {
  .sidebar{ 
  margin-right: 500px;
  }
}
.website-logo {
  margin-top: 25px;
  width: 80%;
  padding-left: 40px;
}
.sidebar ul {
  margin-top: 50px;
}
.sidebar ul li {
  height: 70px;
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  color: #ffff;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: none;
}
.sidebar-icons {
  width: 18%;
  padding-right: 12px;
  margin-right: 12px;
}
.links_name {
  transition: 0.2s ease-in-out;
}
.links_name:hover {
  border-bottom: 3px solid #ffc703;
}

