@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  width: 103vw;
  height: 100px;
  max-height: 25vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}

.bannerimage {
  position: relative;
  width: 25vw;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.page_title_breakfast {
  margin-top: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5vw;
  font-family: lobster;
}

.container_breakfast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  padding: 10px;
}

.rounded-button {
  width: 40px;
  height: 40px;
  background: white;
  -webkit-box-shadow: 2px 2px 10px #202020;
          box-shadow: 2px 2px 10px #202020;
  color: #FFC703;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.rounded-button:hover {
  background: #FFF4CD;
}

.star-container {
  position: absolute;
  top: 35px;
  left: 130px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cardImage, .cardImage1, .cardImage2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  cursor: pointer;
  z-index: 1;
}

.cardImage1, .cardImage2 {
  margin-bottom: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cardImage:hover, .cardImage1:hover, .cardImage2:hover {
  opacity: 0.5;
}

.text {
  position: absolute;
  top: 230px;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: white;
  background-size: cover;
  max-width: 35ch;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px #aaaa;
          box-shadow: 2px 3px #aaaa;
}

.addButton {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 10px;
  right: 40px;
  margin-bottom: 120px;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.addButton:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.footer .home {
  height: auto;
}

.footer .favorites {
  height: auto;
}

.footer .shoppinglist {
  height: auto;
}

.footer .community {
  height: auto;
}

@media only screen and (min-width: 480px) {
  .bannerimage {
    width: 130px;
  }
  .usernameicon {
    width: 30px;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1100px) {
  #mobile-footer {
    display: none;
  }
  #mobile-banner {
    display: none;
  }
  .container_breakfast {
    margin-left: 130px;
    gap: 1px;
  }
  .page_title_breakfast {
    margin-left: 130px;
    font-size: 36px;
    margin-top: 10vW;
  }
}

@media only screen and (max-width: 1100px) {
  #website-banner {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #202020;
  padding: 6px 14px;
  z-index: 99;
}

.website-logo {
  margin-top: 25px;
  width: 80%;
  padding-left: 40px;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul li {
  height: 70px;
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: none;
}

.sidebar-icons {
  width: 18%;
  padding-right: 12px;
  margin-right: 12px;
}

.links_name {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.links_name:hover {
  border-bottom: 3px solid #ffc703;
}
/*# sourceMappingURL=breakfast.css.map */