@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  max-height: 20vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.banner .bannerimage {
  position: relative;
  width: 20vw;
  margin-top: 10px;
  margin-left: 20px;
}

.banner .usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}

.page_title_breakfast {
  margin-top: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5vw;
  font-family: lobster;
}

.breakfastCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  gap: 20px;
}

.breakfastCards .breakfastCards1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  gap: 20px;
}

.breakfastCards .breakfastCards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  gap: 20px;
}

.breakfastCards .breakfastCards3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  gap: 20px;
}

.breakfastCards .breakfastCards4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  gap: 20px;
}

.breakfastCards .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-right: 55px;
  margin-bottom: -43px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: none;
}

.breakfastCards .starOn {
  position: absolute;
  background-color: white;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);
          box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);
  z-index: 1;
  padding: 6px;
  padding-right: 25px;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.breakfastCards .starOn:hover {
  background-color: #FFF4CD;
}

.breakfastCards .starOff {
  position: absolute;
  background-color: white;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);
          box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);

  z-index: 1;
  padding: 5px;
  padding-right: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.breakfastCards .starOff:hover {
  background-color: #FFF4CD;

}

.breakfastCards .count {
  position: absolute;

  padding-left: 35px;
  padding-top: 7px;
  z-index: 3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.breakfastCards .cardImage {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  cursor: pointer;
}


.breakfastCards .cardImage:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.breakfastCards .text {
  position: absolute;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: white;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);
          box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.3);
  height: 52px;
  width: 150px;
  margin-bottom: 200px;

}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footer .warp {
  margin-top: 200px;
}

.footer .home {
  height: auto;
}

.footer .favorites {
  height: auto;
}

.footer .shoppinglist {
  height: auto;
}

.footer .community {
  height: auto;
}
/*# sourceMappingURL=myfeedbreakfast.css.map */