@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  max-height: 20vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;       // annars fara myndirnar yfir banner
  .bannerimage {
    position: relative;
    width: 20vw;
    margin-top: 10px;
    margin-left: 20px;
  }
  .usernameicon {
    position: unset;
    width: 7vw;
    height: auto;
    margin-right: 25px;
    float: right;
  }
}
.page_title_breakfast {
  margin-top: 25vw;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-family: lobster;
}
// ath. Þarf að laga flex-wrap þegar skjárinn er dreginn út, þær fara í rugl neðst.
// get ekki sett annað <div> með texta spjaldi og stjörnu, þá fer allt display-ið í ruglið
.breakfastCards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: row;
  gap: 20px;

  .breakfastCards1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: row;
    gap: 20px;
  }
    .breakfastCards2 {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
      align-items: row;
      gap: 20px;
    }
      .breakfastCards3 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-items: row;
        gap: 20px;
      }
        .breakfastCards4 {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          justify-content: center;
          align-items: row;
          gap: 20px;
        }
  .buttonContainer{
    display: flex;
    margin-top: 70px;
    margin-right: 55px;
    margin-bottom: -43px;
    justify-content: right;
    background-color: none;
  }

  .starOn {                 //stjörnu takki
    position: absolute;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(1,1,1,0.3);
    z-index: 1;
    padding: 6px;
    padding-right: 25px;
    display: none;
    transition: 0.3s ease-in-out;
  }
  .starOn:hover{
    background-color: #FFF4CD;
  }
  .starOff {                 //stjörnu takki
    position: absolute;
    background-color: white;
    border-radius: 999px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(1,1,1,0.3);
    z-index: 1;
    padding: 5px;
    padding-right: 25px;
    transition: 0.3s ease-in-out;
  }

  .starOff:hover{
    background-color: #FFF4CD;
  }

  .count{
    position: absolute;
    padding-left: 35px;
    padding-top: 7px;
    z-index: 3;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .cardImage{                  //mynda spjald
    transition: 0.5s;
    display: flex;
    margin-top: 40px;
    cursor: pointer;
  }
  
  .cardImage:hover {            //hover mynda spjald
    filter: brightness(50%);
  }
  // ath. ég næ ekki að festa texta spjald almennilega við myndina
  .text {                  //texta spjald
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: white;
    background-size: cover;  //
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(1,1,1,0.3);
    height: 52px;
    width: 150px;
    margin-bottom: 200px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 2;

  .warp{
    margin-top: 200px;
  }

  .home {
    height: auto;
  }
  .favorites {
    height: auto;
  }
  .shoppinglist {
    height: auto;
  }
  .community {
    height: auto;
  }
}