@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  margin-left: 15rem;
}
@media only screen and (max-width: 1100px) {
  main {
    margin-left: 0;
    margin-top: 9rem;
  }
}
@media only screen and (max-width: 480px) {
  main {
    margin-left: 0;
    margin-top: 5rem;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #202020;
  width: 103vw;
  height: 100px;
  max-height: 25vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}

.bannerimage {
  position: relative;
  width: 25vw;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

/* main */

.recipe-pics {
  width: 100%;
  height: auto;
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: lobster;
  font-size: 5rem;
  font-weight: lighter;
  color: #202020;

  margin: auto;
  margin-top: 3%;
  margin-left: 25%;
}
@media only screen and (max-width: 1100px) {
  .header {
    margin-top: 3%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}

.underhead {
  margin: auto;
  padding-top: 2%;
  margin-left: 25%;

  color: #202020;
}
@media only screen and (max-width: 1100px) {
  .underheader {
    margin-top: 3%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 480px) {
  .underhead {
    font-size: 1rem;
    margin-left: 9rem;
    margin-bottom: 1rem;
  }
}

.todo-container {
  padding-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.right-side {
  height: 10rem;
  width: 20rem;
}
@media only screen and (max-width: 480px) {
  .right-side {
    margin-left: 2rem;
  }
}

.container-headline {
  color: #202020;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 480px) {
  .container-headline {
    font-size: 1.3rem;
  }
}
.container-items {
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 480px) {
  .container-items {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.left-side {
  height: 10rem;
  width: 20rem;
}
@media only screen and (max-width: 480px) {
  .left-side {
    margin-right: 1rem;
  }
}
.container-headline2 {
  color: #202020;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 480px) {
  .container-headline2 {
    font-size: 1.3rem;
  }
}

li {
  padding-bottom: 3rem;
}
@media only screen and (max-width: 480px) {
  li {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer .home {
  height: auto;
}

.footer .favorites {
  height: auto;
}

.footer .shoppinglist {
  height: auto;
}

.footer .community {
  height: auto;
}

@media only screen and (min-width: 480px) {
  .banner {
    height: 12%;
  }
  .bannerimage {
    width: 130px;
  }
  .usernameicon {
    width: 30px;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 1100px) {
  #mobile-footer {
    display: none;
  }
  #mobile-banner {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  #website-banner {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #202020;
  padding: 6px 14px;
}

.website-logo {
  margin-top: 25px;
  width: 80%;
  padding-left: 40px;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar ul li {
  height: 70px;
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: none;
}

.sidebar-icons {
  width: 18%;
  padding-right: 12px;
  margin-right: 12px;
}

.links_name {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.links_name:hover {
  border-bottom: 3px solid #ffc703;
}
