@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//.banner & .footer is the navbar
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 103vw;
  height: 100px;
  max-height: 25vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}
.bannerimage {
  position: relative;
  width: 25vw;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  .home {
    height: auto;
  }
  .favorites {
    height: auto;
  }
  .shoppinglist {
    height: auto;
  }
  .community {
    height: auto;
  }
}
// making mobile content scale better on bigger screens
@media only screen and (min-width: 480px) {
  // .banner {
  //   height: 12%;
  // }
  .bannerimage {
    width: 130px;
  }
  .usernameicon {
    width: 30px;
    margin-right: 5%;
  }
}

//making mobile header and footer disappear on bigger screens
@media only screen and (min-width: 1100px) {
  #mobile-footer {
    display: none;
  }
  #mobile-banner {
    display: none;
  }
}

// making website header appear when screen gets bigger / disappear when smaller
@media only screen and (max-width: 1100px) {
  #website-banner {
    display: none;
  }
}
// ------- CSS for sidebar -------------
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #202020;
  padding: 6px 14px;
  z-index: 99;
}
.website-logo {
  margin-top: 25px;
  width: 80%;
  padding-left: 40px;
}
.sidebar ul {
  margin-top: 50px;
}
.sidebar ul li {
  height: 70px;
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  color: #ffff;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: none;
}
.sidebar-icons {
  width: 18%;
  padding-right: 12px;
  margin-right: 12px;
}
.links_name {
  transition: 0.2s ease-in-out;
}
.links_name:hover {
  border-bottom: 3px solid #ffc703;
}

// .sidebar ul li a:hover {
//   border-bottom: 2px solid #ffff;
//   width: 80px;
// }
// @media only screen and (max-width: 1300px) {
//   .sidebar {
//     width: 250px;
//   }
// }

$button-color: #202020;
$button-text-color: #ffff;

body {
  font-family: roboto;
}

h1 {
  font-family: lobster;
  font-size: 10vw;
  display: flex;
  justify-content: center;
  margin-top: 25vw;
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 95px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 300px;
    
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  

  #newItem {
    padding: 30px 20px;
  }

  @media only screen and (max-width: 480px) {
    #newItem {
      font-size: 66px;
      // margin-left: 300px;
    }
  }

  @media only screen and (min-width: 1100px) {
    #newItem {
      font-size: 66px;
      margin-left: 300px;
    }
  }

  #newItem input {
    width: 40vw;
    height: 5vw;
    border-radius: 10px;
    padding-left: 15px;
    border: 2px solid #ffc703;
    transition: 0.3s ease-in-out;
  }  

  @media only screen and (min-width: 1100px) {
    #newItem input{
      width: 750px;
      height: 50px;
    }
  }

  

  #newItem input:focus {
    outline: none;
    background-color: #ffc8031c;
  }

  #newItem button {
    border-radius: 999px;
    border: none;
    width: 15vw;
    height: 5vw;
    background-color: #202020;
    color: white;
    transition: 0.3s ease-in-out;
    padding: 5px;
    cursor: pointer;
  }

  @media only screen and (min-width: 1100px) {
    #newItem button{
      width: 150px;
      height: 50px;
    }
  }

  #newItem button:hover {
    background-color: #ffc703;
    color: black;
  }

  #items {
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    width: 65vw;
  }

  @media only screen and (max-width: 480px) {
    #items{
        max-width: 500px;
        margin-left: 300px;
    }
  }

  @media only screen and (min-width: 1100px) {
    #items{
        font-size: 1vw;
        width:920px;
        margin-left: 300px;
    }
  }

  .item {
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }


  .item span {
    font-family: roboto;
    font-size: 4vw;
    font-weight: 400;
    cursor: pointer;
  }

  @media only screen and (min-width: 1100px) {
    .item span{
        font-size: 57.5px;
    }
  }

  .item button {
    background-color: #202020;
    color: white;
    border-radius: 10px;
    border: none;
    width: 6vw;
    height: 70%;
    transition: 0.3s ease-in-out;
  }

  .item button:hover {
    background-color: #ffc703;
    color: black;
    cursor: pointer;
  }

  .completed {
    text-decoration: line-through;
  }
}
