@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Suranna&display=swap");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//.banner & .footer is the navbar
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 103vw;
  height: 100px;
  max-height: 25vw;
  position: fixed;
  left: 0;
  top: 0;
}
.usernameicon {
  position: unset;
  width: 7vw;
  height: auto;
  margin-right: 25px;
  float: right;
}
.bannerimage {
  position: relative;
  width: 25vw;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  width: 100vw;
  height: 100px;
  padding: 10px 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  .home {
    height: auto;
  }
  .favorites {
    height: auto;
  }
  .shoppinglist {
    height: auto;
  }
  .community {
    height: auto;
  }
}
// making mobile content scale better on bigger screens
@media only screen and (min-width: 480px) {
  .banner {
    height: 12%;
  }
  .bannerimage {
    width: 130px;
  }
  .usernameicon {
    width: 30px;
    margin-right: 5%;
  }
}

//making mobile header and footer disappear on bigger screens
@media only screen and (min-width: 1100px) {
  #mobile-footer {
    display: none;
  }
  #mobile-banner {
    display: none;
  }
}

// making website header appear when screen gets bigger / disappear when smaller
@media only screen and (max-width: 1100px) {
  #website-banner {
    display: none;
  }
}
// ------- CSS for sidebar -------------
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #202020;
  padding: 6px 14px;
}
.website-logo {
  margin-top: 25px;
  width: 80%;
  padding-left: 40px;
}
.sidebar ul {
  margin-top: 50px;
}
.sidebar ul li {
  height: 70px;
  width: 100%;
  list-style: none;
}

.sidebar ul li a {
  color: #ffff;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: none;
}
.sidebar-icons {
  width: 18%;
  padding-right: 12px;
  margin-right: 12px;
}
.links_name {
  transition: 0.2s ease-in-out;
}
.links_name:hover {
  border-bottom: 3px solid #ffc703;
}
// .sidebar ul li a:hover {
//   border-bottom: 2px solid #ffff;
//   width: 80px;
// }
// @media only screen and (max-width: 1300px) {
//   .sidebar {
//     width: 250px;
//   }
// }

$button-color: #202020;
$button-text-color: #ffff;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12vw;

  .breakfast {
    width: 85vw;
    height: 9vw;
    background-color: $button-color;
    margin-top: 10vw;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    color: $button-text-color;
    padding-top: 9px;
    font-size: 5vw;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }
  .lunch {
    width: 85vw;
    height: 9vw;
    background-color: $button-color;
    margin-top: 1vw;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    color: $button-text-color;
    padding-top: 9px;
    font-size: 5vw;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }
  .dinner {
    width: 85vw;
    height: 9vw;
    background-color: $button-color;
    margin-top: 1vw;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    color: $button-text-color;
    padding-top: 9px;
    font-size: 5vw;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }
  .desserts {
    width: 85vw;
    height: 9vw;
    background-color: $button-color;
    margin-top: 1vw;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    margin-bottom: 25vw;
    color: $button-text-color;
    padding-top: 9px;
    font-size: 5vw;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }

  .Button_images {
    position: relative;
    float: left;
    margin-top: -6vw;
    margin-left: -2vw;
    width: 20vw;
  }
  .buttonArrow {
    width: 2.5%;
    float: right;
    margin-right: 3%;
    line-height: 1%;
    margin-top: 1%;
  }
  // making container elements scale better on bigger screens
  @media only screen and (min-width: 1100px) {
    .Button_images {
      width: 110px;
      margin-top: -25px;
    }
    .desserts {
      width: 650px;
      height: 60px;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 250px;
    }
    .lunch {
      width: 650px;
      height: 60px;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 250px;
    }
    .breakfast {
      width: 650px;
      height: 60px;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 56px;
      margin-left: 250px;
    }
    .dinner {
      width: 650px;
      height: 60px;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 250px;
    }
  }
}

.page_title {
  margin-top: 25vw;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-family: lobster;
}
// making title scale on screen bigger then 1024px
@media only screen and (min-width: 1100px) {
  .page_title {
    font-size: 36px;
    margin-top: 25px;
    margin-left: 300px;
  }
  .container {
    gap: 120px;
  }
}
